services:
  backend:
    build: .
    container_name: fastapi-backend
    ports:
      - "8001:8001"
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload
    environment:
      - PYTHONUNBUFFERED=1
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    restart: always

    networks:
      - my-shared-network

networks:
  my-shared-network:
    external: true
