fastapi==0.123.8
fastjsonschema==2.21.2
google-genai
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
uvicorn==0.38.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
pandas==2.3.3
pandocfilters==1.5.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pylint==4.0.4
pyparsing==3.2.5
pytest==9.0.1
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
python-multipart
pytz==2025.2
PyYAML==6.0.3
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
lightgbm==4.6.0
google-cloud-core
google-api-core
