# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Django and local settings
*.sqlite3
*.log

# IDE and editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
