services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app
    working_dir: /app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - ./data/sqlite3:/app/sqlite3
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

    networks:
      - my-shared-network

networks:
  my-shared-network:
    external: true
